<h1>User Managers</h1>

<form action="/add-tshirt" method="post">
  Name: <input type="text" name="name"><br>
  Password: <input type="text" name="pictureUrl"><br>
  Role: <option type="number" name="price" step="0.01" value={{}}><br>
  <button type="submit">Create</button>
</form>